body {
    background-image: url("https://i.pinimg.com/originals/b2/01/7b/b2017bb4c77c0c398fef5a903c5d4c80.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-family: helvetica;
    color: rgb(235, 21, 128);
    text-align: center;
    font-size: 75px;

}
  .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 500px;
    height: 500px;
    position: relative;
    left: 350px;
  }
  .cell {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    color: white;
    
  }
  .PlayerX {
    background-image: url("https://cdn1.iconfinder.com/data/icons/valentine-love-3/64/heart_shape-512.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
   
  }
 
  .PlayerO {
    background-image: url("https://cdn0.iconfinder.com/data/icons/food-and-drinks-1-8/36/73-512.png");
    background-size: cover;
    background-size: no-repeat;
  }

  #player {
      color: rgb(235, 21, 128);
  }
